meta(charset="UTF-8")
title tiagofernandes.me | web developer
head(itemscope itemtype="http://schema.org/WebSite")
meta(name="description" content="Tiago Fernandes personal website")
meta(name="author" content="Tiago de Araujo Fernandes")
link(type="text/plain" rel="author" href="humans.txt")
link(rel="stylesheet", href="/css/application.css")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
