doctype html
html(lang="en")
include head
    body#tiagofernandes.active
        div.container
            div.box
                .loader
                .transition
                header
                    div.name
                        h1 TIAGO DE ARAUJO FERNANDES
                    div.logo
                        img(src="../img/logo0a.png" alt="Tiago de A. Fernandes" draggable="false")
                    nav
                        ul
                            li
                                a(href="#") WORK
                            li
                                a(href="#") LAB
                            li
                                a(href="#") ABOUT
            canvas#myCanvas
        include footer